/* Dark Mode Toggle ------------------------------- */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}

.theme-switch {
    z-index: 100;
    display: inline-block;
    position: relative;
}

.theme-switch input {
    display: none;
}



#toggle-icon {
    display: flex;
}

.toggle-svg {
    width: 24px;
    height: 24px;
    fill: var(--darkgray);
}

.toggle-svg:hover {
    filter: brightness(150%);
    cursor: pointer;
    scale: 105%;
    transition: 0.4s;
}



/* .slider {
    background: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
}

.slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 20px;
}

input:checked+.slider {
    background: var(--lightgray);
}

input:checked+.slider::before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
} */