/* Dark Mode Toggle ------------------------------- */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}

.theme-switch {
    z-index: 100;
    display: inline-block;
    position: relative;
}

.theme-switch input {
    display: none;
}

#toggle-icon {
    display: flex;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

#toggle-icon:hover {
    border: 1px solid var(--lightgray);
    border-radius: 6px;

}

.toggle-svg {
    width: 24px;
    height: 24px;
    fill: var(--darkgray);
}

.toggle-svg:hover {
    filter: brightness(150%);
}
