@import url(/assets/css/global.css);
@import url(/assets/css/elements.css);

main {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem auto;
    background-color: var(--on-background);
    border-radius: 8px;
  }