@import url(/assets/css/global.css);

main {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 2rem auto;
  background-color: var(--on-background);
  border-radius: 8px;
}


.list-items:hover {
    color: orange;
}

table {
    border-collapse: collapse;

  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
    font-weight: bold;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f920;
    &:hover{
        background-color: #0044ff44;
    }
  }
  
  tr:hover {
    background-color: #0044ff44;
  }