/* Colors ---------------------------------- */
:root {
    --light: #f9fafb;
    --lightgray: #dfdfdf;
    --gray: #cacaca;
    --darkgray: #252525;
    --dark: #1e1e1e;
    --primary: #656cf1;
    --on-primary: #ffffff;
    --secondary: #fbd307;
    --on-secondary: #1b1b1b;
    --error: #de3b3b;
    --background: #f3f3f3;
    --on-background: #ffffff;
    --shadow: #f3f3f399;
    --body-text: #141414;
    --heading-text: #0a0a0a;
}

[data-theme="dark"] {
    --light: #111827;
    --lightgray: #424d5f;
    --gray: #646464;
    --darkgray: #e6e7f7;
    --dark: #f7f8ff;
    --primary: #7980ff;
    --on-primary: #ffffff;
    --secondary: #fad623;
    --on-secondary: #1b1b1b;
    --error: #de3b3b;
    --background: #141820;
    --on-background: #212836;
    --shadow: #1418204a;
    --body-text: #dee5f3;
    --heading-text: #ffffff;
}


body {
    background: var(--background);
}


h1, h2, h3 {
    color: var(--heading-text);
}

li, p, span, input, label, select {
    color: var(--body-text);
}

a {
    color: var(--primary);
}


/* Typography */

* {
    font-family: Vazirmatn;
}

/* Base */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Header -------------------------------------------- */
header {
    z-index: 10;
    position: relative;
    padding: 20px;
    width: 100vw;
    background-color: var(--on-background);
}
nav {
    display: flex;
    justify-content: space-between;
    min-width: 1024px;
    justify-self: center;
    align-items: center;
}

@media (max-width: 1023px) {
    nav {
        min-width: 100%;
    }
}

.avatar {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 36px;
    height: 36px;
    background: #dedfff;
    border-radius: 6px;
    padding: 8px;
    fill: var(--primary);
}

.header-text {
    color: var(--primary);
    font-size: 1.5rem;
    margin-right: 8px;
    
}


/* icon */

.section-icons {
    display: flex;
    gap: 8px;
}

.header-icon {
    display: flex;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.header-icon:hover {
    border: 1px solid var(--lightgray);
    border-radius: 6px;

}

.header-icon:active {
    transform: translate(0, 0.2rem);
}



.icon-svg {
    width: 24px;
    height: 24px;
    fill: var(--darkgray);
}

.icon-svg:hover {
    filter: brightness(150%);
}

/* Dark Mode Toggle */

#toggle-switch {
    display: none;
}


